ul.permissions-errors
{list-style: none;
margin-left: 0;}
.notification
{margin-bottom: 1rem;}
.notification:not(:last-child)
{margin-bottom: 1rem;}
/*
.permissions-errors li:not(:last-child) .notification
{margin-bottom: 1rem;}
*/

.mw-warning-with-logexcerpt .notification
{margin-bottom: inherit;}
